streamlit==1.44.1
numpy==1.26.4
opencv-python-headless==4.10.0.84
mediapipe==0.10.9
tensorflow==2.15.0
joblib==1.4.2
pillow==11.2.1
matplotlib==3.9.0
protobuf==3.20.3
scikit-learn==1.5.1


#python --version 3.10.9